/*
 * Border box declaration and font-size
 */
html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*
 * Global reset to prevent default margin and padding
 */
*,
*::after,
*::before {
  margin: 0rem;
  padding: 0rem;
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

/*
 * Basic Grid
 */
.row {
  width: 114rem;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
}

.col-1-of-2 {
  flex: 0 0 50%;
  margin-right: 8.3%;
}

.col-2-of-2 {
  flex: 0 0 41.7%;
}

/*
 * Typography Setting
 */
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.heading-primary {
  font-family: 'Open Sans', sans-serif;
  font-size: 5rem;
  font-weight: 700;
  color: #183A4F;
}

.heading-primary--white {
  font-family: 'Open Sans', sans-serif;
  font-size: 5rem;
  font-weight: 700;
  color: #ffffff;
}

.header-text {
  font-size: 2rem;
  font-weight: 400;
  color: #5d5d5d;
}

.share-card-heading {
  font-family: 'Roboto', sans-serif;
  font-size: 2.9rem;
  font-weight: 400;
  color: #ffffff;
}

.share-card--content--text {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  color: #f9f9f9;
  letter-spacing: 0.1rem;
}

.screen-2-card--text {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.7rem;
  font-weight: 400;
  color: #b3c5cd;
  line-height: 1.7;
}


/*
 * Navigation styles
 */
.navigation {
  width: 13rem;
  position: fixed;
  top: 3.3rem;
  left: 16.6rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.nav--link-container {
  text-decoration: none;
}

.nav--link-content {
  width: 3.9rem;
  height: 3.9rem;
  background-image: url("../images/link-logo.svg");
}

.nav--link-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.7rem;
  text-transform: uppercase;
  color: #183A4F;
}

/*
 * Header styles
 */
.header {
  width: 100vw;
  height: 100vh;
  background-image: url("../images/header-background.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.header-top--image {
  position: relative;
  top: 0;
  left: 35.27%;
  width: 21.38%;
  height: 28.9%;
  animation: moveInTop 2s ease-out;
}

.header-left {
  padding: 1.5rem;
}

.share-card {
  position: relative;
  top: -10.5rem;
  left: 0;
  width: 37.5rem;
  height: 63.5rem;
  box-shadow: 0 0.1rem 1rem 0 rgba(0, 0, 0, 0.3);
  border-radius: 0.9rem;
  margin: 0 auto;
  animation: moveInBottom 2s ease-out;

}
.share-card--image {
  width: 100%;
  height: 31.9rem;
  border-top-left-radius: 0.9rem;
  border-top-right-radius: 0.9rem;
  background-image: url("../images/share-card-image.jpg");
  backface-visibility: hidden;
}

.share-card--content {
  width: 100%;
  height: 31.6rem;
  background-color: #E83267;
  border-bottom-left-radius: 0.9rem;
  border-bottom-right-radius: 0.9rem;
  padding: 3.3rem;
  box-shadow: 0 3.8rem 12.2rem 0 rgba(0, 0, 0, 0.3), 0 3.8rem 7.4rem 0 rgba(0, 0, 0, 0.28);
}

/*
 * screen-2 css
 */
.screen-2 {
  width: 100vw;
  height: 100vh;
  background-image: url("../images/screen-2-background.jpg");
  background-size: cover;
}

.screen2-left {
  width: 90.7%;
  height: 85%;
  margin: 0 auto;
}

.iphone-card {
  width: 100%;
  height: 100%;
}

.card {
  width: 51rem;
  height: 21.4rem;
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
  align-items: center;
  background-color: transparent;
}

.card:hover {
  box-shadow: none;
  background-color: #ffffff;
  color: #7d929a;
  border-radius: 0.3rem;
}


.card--left {
  padding-top: 0.33rem;
  flex: 0 0 31.5%;
}

.card--right {
  flex: 0 0 68.5%;
  padding: 3.3rem;
}

/*
 * Animation
 */
 @keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-40rem);
  }

  100% {
    transform: translate(0);
    opacity: 1;
  }
}

 @keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }

  100% {
    transform: translate(0);
    opacity: 1;
  }
}



/*
 * Utility
 */
.u-margin-top-16 {
  margin-top: 1.6rem;
}

.u-margin-top-1 {
  margin-top: 1rem;
}

.u-margin-top-75 {
  margin-top: 7.5rem;
}

.u-margin-top-9 {
  margin-top: 9rem;
}

.u-margin-bottom-6 {
  margin-bottom: 6rem;
}

.u-left-padding {
  padding-left: 1.5rem;
}
