/*
 * Border box declaration and font-size
 */
html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*
 * Global reset to prevent default margin and padding
 */
*,
*::after,
*::before {
  margin: 0rem;
  padding: 0rem;
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

/*
 * Basic Grid
 */
.row {
  width: 114rem;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  background-color: pink;
}

.col-1-of-2 {
  flex: 0 0 50%;
  margin-right: 8.3%;
}

.col-2-of-2 {
  flex: 0 0 41.7%;
}

/*
 * Typography Setting
 */
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

/*
 * Navigation styles
 */
.navigation {
  width: 13rem;
  position: fixed;
  top: 3.3rem;
  left: 16.6rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.nav--link-container {
  text-decoration: none;
}

.nav--link-content {
  width: 3.9rem;
  height: 3.9rem;
  background-image: url("../images/link-logo.svg");
}

.nav--link-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.7rem;
  text-transform: uppercase;
  color: #183A4F;
}

/*
 * Header styles
 */
.header {
  width: 100vw;
  height: 100vh;
  background-image: url("../images/header-background.jpg");
  background-size: cover;
}

.header-top--image {
  position: relative;
  top: 0;
  left: 35.27%;
  width: 21.38%;
  height: 28.9%;
  animation-name: moveInTop;
  animation-duration: 2s;
}

/*
 * Animation
 */
 @keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-40rem);
  }

  100% {
    transform: translate(0);
    opacity: 1;
  }
}


